*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,#DB4986,#5C59E8);
}
form{
    width: 300px;
    height: 400px;
    background: #ffffff;
    margin: 100px auto;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-top: 15px;
    color: #5C59E8;
}
.form-text{
    margin: 15px;
    line-height: 25px;
}
.form-text input{
    width: 265px;
    height: 22px;
    background: #ada9a941;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid blue;
    border-left: 0px;
}
.form-text p{
    width: 265px;
    text-align: right;
}
button{
    margin-left: 25px;
    width: 220px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    background: linear-gradient(to right,#DB4986,#5C59E8);
    box-shadow: 5px 5px 10px #1100ff;transition: 3s;
}
button:hover{
    background: white;
    color: black;
}
.text-icon p{
    margin-top: 15px;
    text-align: center;
    text-transform: capitalize;
}
.text-image{
    margin-left: 83px;
    letter-spacing: -10px;
}
.text-image img{
    width: 35px;
    height: 35px;
}
h3{
    text-align: right;
    margin-top: 10px;
    color: #5C59E8;
}

